
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
p {
  padding: 0;
  margin: 0;
}

// Navbar styling
.nav-container {
  .navbar {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-logo {
      img {
        height: 60px;
        object-fit: contain;
      }
      img:hover {
        cursor: pointer;
      }
    }
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
      }
      .nav-link {
        padding: 0 10px;
        margin: 0 5px;
        font-size: 1.2em;
        color: black;
      }
      .nav-link:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      img {
        width: 50px;
        height: 50px;
        margin: 0 5px 0 15px;
        border-radius: 50%;
        border: 1px solid lightgrey;
      }
      .dropdown {
        button {
          font-size: 1.2em;
          padding: 0;
        }
      }
    }
  }
  hr {
    margin: 0;
  }
}


// homepage styling
.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/andrew-s-ouo1hbizWwo-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  .homepage-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    a {
      text-decoration: none;
      .button {
        margin: 0 50px;
        padding: 15px 15px;
        background-color: rgba(248, 246, 246, 0.8);
        border-radius: 15px;
        width: 160px;
        text-align: center;
        color: black;
      }
      .button:hover {
        cursor: pointer;
        background-color: rgba(248, 246, 246);
      }
    }

  }
}

@media screen and (max-width: 530px) {
  .homepage{
    background-color: beige;
    background-image: url(./images/homepage-background.jpg);
    .homepage-buttons {
      flex-direction: column;
      a {
        .button {
          margin: 20px 0;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
        }
        .button:hover {
          background-color: rgba(0, 0, 0);
          padding: 15px 15px;
        }

      }

    }
  }
}

// Login and register form styling

.login-register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 20px 0;
  }
  form {
    width: 50%;
  }
}

// register animal from styling 

.register-animal {
  background-image: url(./images/homepage-background.jpg);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;

  h2 {
    text-align: center;
  }
  form {
    width: 50%;
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
    border: 1px solid lightgrey;
  }
}

// index styling

.animal-index {
  margin-top: 10px;
  .row {
    .card {
      margin: 15px;
      padding: 0;
      .card-img {
        height: 300px;
        width: 302px;
        object-fit: cover;
      }
      .card-title {
        padding: 5px;
      }
      .card-text {
        padding: 0 5px;
      }

      a {
        text-decoration: none;
        color: black;
      }

    }
  }
}

// animal show styling 

.animal-show {
  margin-top: 50px;
  .animal-card {
    display: flex;
    justify-content: center;
    img {
      height: 350px;
      width: 350px;
      object-fit: cover;
      margin-bottom: 5px;
      margin-right: 20px;
    }
    h3 {
      font-size: 2.5em;
    }
    .information {
      .request {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .req-status {
          border: 2px solid lightgray;
          border-radius: 10px;
          padding: 5px
        }
        .profile-image {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid lightgrey;
        }

      }
    }
  }
}

// user index styling
.user-index {
  margin-top: 10px;
  .row {
    .card {
      margin: 10px;
      padding: 0;
      .big-card {
        display: flex;
        align-items: center;
        .card-img {
          height: 200px;
          width: 200px;
          object-fit: cover;
        }
        .information {
          padding: 0 10px;
          .card-title {
            padding: 5px;
          }
          .card-text {
            padding: 0 5px;
          }
        }
      }


      a {
        text-decoration: none;
        color: black;
      }

    }
  }
}

// user show styling 

.user-show {
  margin-top: 50px;
  .user-card {
    display: flex;
    justify-content: center;
    img {
      height: 350px;
      width: 350px;
      object-fit: cover;
      margin-bottom: 5px;
      margin-right: 20px;
    }
    h3 {
      font-size: 2.5em;
    }
    .information {
      .request {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile-image {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid lightgrey;
        }

      }
    }
  }
}

// user profile styling 
.user-profile{
  .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .profile-images {
      margin-top: 30px;
      img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid lightgrey;
      }
    }
    .information {
      min-width: 500px;
      height: 400px;
      margin-top: 30px;
      .info-header {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 2.3em;
        }
        .icon {
          padding-right: 4px;
        }
        button {
          padding: 5px 25px;
          margin-bottom: 5px;
        }
      }
      hr {
        margin: 5px 0;
      }
      .date-joined {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.1em;
        padding: 10px 0;
      }
      .borrow-info {
        display: flex;
        align-items: center;
        padding: 10px 0;
        .green {
          padding: 0 20px;
          margin-left: 10px;
          border-radius: 20px;
          border: 2px solid rgb(123, 175, 123);
        }
  
        .red {
          padding: 0 20px;
          margin-left: 10px;
          border-radius: 20px;
          border: 2px solid rgb(216, 114, 114);
        }
      }
      .needs {
        .data {
          display: flex;
          align-items: center;
          margin: 10px 0;
          .activity {
            padding: 3px 5px;
            margin-left: 5px;
            border-radius: 3px;
            background-color: lightpink;
          }
          .schedule {
            padding: 3px 5px;
            margin-left: 5px;
            border-radius: 3px;
            background-color: lightskyblue;
          }
        }
      }
    }
  }

  .bottom {
    margin: 0 30px;
    .bottom-text {
      margin: 0 100px;
      p {
        font-size: 1.2em;
        margin-bottom: 10px;
      }
    }
  }
}


